Repository bbortt/snow-white, changes with the labels that .github/labeler.yml gives for each.
All labels: module:cli, module:core, module:example-application, module:snow-white, type:ci, type:docs, type:infra, lang:java, lang:typescript, include:apptests

chore(cli): configuration from file is possible
  toolkit/cli/README.md
  toolkit/cli/bun.lock
  toolkit/cli/bunfig.toml
  toolkit/cli/package.json
  toolkit/cli/src/actions/calculate.options.ts
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/actions/global.options.ts
  toolkit/cli/src/common/config.spec.ts
  toolkit/cli/src/common/config.ts
  toolkit/cli/src/common/exit-codes.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

chore(deps): update confluent-kafka to v8
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/AbstractReportCoordinationServiceIT.java
Labels: module:snow-white, lang:java

fix(api-sync-job): include api type in index
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/config/ApiSyncJobProperties.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/config/MinioBucketConfig.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/RedisCachingService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/SyncJobIT.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiInformationEndpointEntryTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/redis/RedisCachingServiceTest.java
Labels: module:snow-white, lang:java

refactor(cli): config sanitization
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/config/cli-options.ts
  toolkit/cli/src/config/resolve-config.spec.ts
  toolkit/cli/src/config/resolve-config.ts
  toolkit/cli/src/config/sanitize-configuration.spec.ts
  toolkit/cli/src/config/sanitize-configuration.ts
  toolkit/cli/src/config/sanitized-options.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

fix(api-gateway): frontend build
  DEVELOPMENT.md
  dev/docker-compose.yaml
  dev/snow-white.json
  microservices/api-gateway/src/main/webapp/app/entities/open-api-criterion/open-api-criterion-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-delete-dialog.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-update.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-card.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-result-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-reducer.spec.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.tsx
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test-result.model.ts
  microservices/api-gateway/src/main/webapp/i18n/de/apiTest.json
  microservices/api-gateway/src/main/webapp/i18n/de/apiTestResult.json
  microservices/api-gateway/src/main/webapp/i18n/de/qualityGate.json
  microservices/api-gateway/src/main/webapp/i18n/en/apiTest.json
  microservices/api-gateway/src/main/webapp/i18n/en/apiTestResult.json
  microservices/api-gateway/src/main/webapp/i18n/en/openApiTestResult.json
  microservices/api-gateway/src/main/webapp/i18n/en/qualityGate.json
  toolkit/cli/src/config/sanitize-configuration.ts
Labels: module:cli, module:snow-white, type:docs, type:infra, lang:typescript

chore(cli): include api spec pattern in config
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/config/cli-options.ts
  toolkit/cli/src/config/resolve-config.spec.ts
  toolkit/cli/src/config/resolve-config.ts
  toolkit/cli/src/config/sanitize-configuration.spec.ts
  toolkit/cli/src/config/sanitize-configuration.ts
  toolkit/cli/src/config/sanitized-options.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

chore(report-coordination-service): fix runtime hints test with maven
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/config/NativeRuntimeHintsConfigurationTest.java
Labels: module:snow-white, lang:java

chore(cli): include api spec pattern in config
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/config/cli-options.ts
  toolkit/cli/src/config/resolve-config.spec.ts
  toolkit/cli/src/config/resolve-config.ts
  toolkit/cli/src/config/sanitize-configuration.spec.ts
  toolkit/cli/src/config/sanitize-configuration.ts
  toolkit/cli/src/config/sanitized-options.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

fix(openapi-coverage-service): calculate coverage with api information
  internal/commons/pom.xml
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/ApiCoverageResponseEvent.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/OpenApiCoverageResponseEvent.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/dto/ApiInformation.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/redis/ApiEndpointEntry.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/redis/ApiEndpointEntryTest.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiEndpointRepository.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/RedisCachingService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiInformationEndpointEntryTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/redis/RedisCachingServiceTest.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/kafka/stream/OpenApiCoverageCalculationProcessor.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/redis/ApiEndpointEntry.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/redis/ApiEndpointRepository.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiCoverageService.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiService.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenTelemetryService.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/calculator/ResponseCodeCoverageCalculator.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/dto/OpenApiTestContext.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/exception/OpenApiNotIndexedException.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/kafka/stream/OpenApiCoverageCalculationProcessorTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiCoverageServiceTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiServiceTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenTelemetryServiceTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/dto/OpenApiTestContextTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/exception/OpenApiNotIndexedExceptionTest.java
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/kafka/listener/OpenApiResultListenerIT.java
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/kafka/listener/OpenApiResultListenerTest.java
Labels: module:core, module:snow-white, lang:java

chore(main): release 1.0.1-ci.0-SNAPSHOT
  example-application/pom.xml
  helm/pom.xml
  internal/commons/pom.xml
  internal/pom.xml
  microservices/api-gateway/pom.xml
  microservices/api-sync-job/pom.xml
  microservices/kafka-event-filter/pom.xml
  microservices/openapi-coverage-service/pom.xml
  microservices/pom.xml
  microservices/quality-gate-api/pom.xml
  microservices/report-coordination-service/pom.xml
  pom.xml
  toolkit/annotation-api/pom.xml
  toolkit/cli/pom.xml
  toolkit/openapi-generator/pom.xml
  toolkit/pom.xml
  toolkit/spring-web-autoconfiguration-it/pom.xml
  toolkit/spring-web-autoconfiguration/pom.xml
Labels: module:cli, module:core, module:example-application, module:snow-white, type:infra

chore(release-please): release changes cleanup
  example-application/pom.xml
  helm/pom.xml
  internal/commons/pom.xml
  internal/pom.xml
  microservices/api-gateway/pom.xml
  microservices/api-sync-job/pom.xml
  microservices/kafka-event-filter/pom.xml
  microservices/openapi-coverage-service/pom.xml
  microservices/pom.xml
  microservices/quality-gate-api/pom.xml
  microservices/report-coordination-service/pom.xml
  pom.xml
  toolkit/annotation-api/pom.xml
  toolkit/cli/pom.xml
  toolkit/openapi-generator/pom.xml
  toolkit/pom.xml
  toolkit/spring-web-autoconfiguration-it/pom.xml
  toolkit/spring-web-autoconfiguration/pom.xml
Labels: module:cli, module:core, module:example-application, module:snow-white, type:infra

ci(kafka-event-filter): add application test for native compiled image
  .github/dependabot.yml
  .github/workflows/pull-requests.yml
  microservices/api-gateway/DEVELOPMENT.md
  microservices/api-gateway/src/apptest/java/io/github/bbortt/snow/white/microservices/api/gateway/QualityGateApiAppTest.java
  microservices/kafka-event-filter/DEVELOPMENT.md
  microservices/kafka-event-filter/pom.xml
  microservices/kafka-event-filter/src/apptest/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/KafkaEventFilterAppTest.java
  microservices/kafka-event-filter/src/apptest/resources/docker-compose-apptest.yaml
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonDeserializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonSerializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaStreamsConfig.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/TestData.java
Labels: module:snow-white, type:ci, lang:java

ci(kafka-event-filter): add application test for native compiled image
  .github/dependabot.yml
  .github/workflows/pull-requests.yml
  dev/otel-collector-config.yaml
  microservices/api-gateway/DEVELOPMENT.md
  microservices/api-gateway/src/apptest/java/io/github/bbortt/snow/white/microservices/api/gateway/QualityGateApiAppTest.java
  microservices/kafka-event-filter/DEVELOPMENT.md
  microservices/kafka-event-filter/pom.xml
  microservices/kafka-event-filter/src/apptest/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/KafkaEventFilterAppTest.java
  microservices/kafka-event-filter/src/apptest/resources/docker-compose-apptest.yaml
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonDeserializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonSerializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/AbstractExportTraceServiceRequestEventProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaEventFilterProperties.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaStreamsConfig.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/OtelInformationFilteringService.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/impl/redis/RedisCachingService.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/TestData.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaEventFilterPropertiesTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaStreamsConfigTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/OtelInformationFilteringServiceTest.java
  semantic-convention/openapi.md
  toolkit/spring-web-autoconfiguration/src/main/java/io/github/bbortt/snow/white/toolkit/spring/web/config/SpringWebInterceptorProperties.java
Labels: module:snow-white, type:ci, type:infra, lang:java

feat(sonar): remove code smells and vulnerabilities
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningException.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningUtils.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningExceptionTest.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningUtilsTest.java
  microservices/api-gateway/src/apptest/java/io/github/bbortt/snow/white/microservices/api/gateway/QualityGateApiAppTest.java
  microservices/api-gateway/src/main/webapp/app/app.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/status-badge.spec.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/status-badge.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/header/header.spec.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/header/header.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/menus/menu-item.tsx
  microservices/api-gateway/src/main/webapp/app/shared/reducers/application-profile.spec.ts
  microservices/api-gateway/src/main/webapp/app/shared/reducers/application-profile.ts
  microservices/api-gateway/src/main/webapp/i18n/en/reportStatus.json
  microservices/api-gateway/src/test/java/io/github/bbortt/snow/white/microservices/api/gateway/config/ApiGatewayPropertiesTest.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/domain/model/jackson/ApiInformationDeserializer.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/BackstageCatalogService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/config/MinioBucketInitializationExceptionTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/BackstageCatalogServiceTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/MinioServiceTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/OpenApiProcessingExceptionTest.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/KafkaTopicManager.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonDeserializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonSerializer.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/NoSpringConditionalsArchitectureTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/exception/SerializationExceptionTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessorTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiCoverageCalculatorIT.java
  microservices/quality-gate-api/src/test/java/io/github/bbortt/snow/white/microservices/quality/gate/api/domain/model/mapper/FailedToCopyFieldExceptionTest.java
  microservices/quality-gate-api/src/test/java/io/github/bbortt/snow/white/microservices/quality/gate/api/domain/model/mapper/OpenApiCoverageConfigurationMapperTest.java
  microservices/report-coordination-service/src/main/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/kafka/KafkaTopicManager.java
  microservices/report-coordination-service/src/main/java/io/github/bbortt/snow/white/microservices/report/coordination/service/junit/JUnitReporter.java
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/rest/resource/QualityGateResourceIT.java
  pom.xml
  toolkit/cli/src/actions/calculate.ts
Labels: module:cli, module:core, module:snow-white, lang:java, lang:typescript

feat(api-gateway): improve test result card
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-card.tsx
Labels: module:snow-white, lang:typescript

ci(kafka-event-filter): add application test for native compiled image
  .github/dependabot.yml
  .github/workflows/pull-requests.yml
  dev/otel-collector-config.yaml
  microservices/api-gateway/DEVELOPMENT.md
  microservices/api-gateway/src/apptest/java/io/github/bbortt/snow/white/microservices/api/gateway/QualityGateApiAppTest.java
  microservices/kafka-event-filter/DEVELOPMENT.md
  microservices/kafka-event-filter/pom.xml
  microservices/kafka-event-filter/src/apptest/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/KafkaEventFilterAppTest.java
  microservices/kafka-event-filter/src/apptest/resources/docker-compose-apptest.yaml
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonDeserializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonSerializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/AbstractExportTraceServiceRequestEventProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaEventFilterProperties.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaStreamsConfig.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/OtelInformationFilteringService.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/impl/redis/RedisCachingService.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/TestData.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaEventFilterPropertiesTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaStreamsConfigTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/OtelInformationFilteringServiceTest.java
  semantic-convention/openapi.md
  toolkit/spring-web-autoconfiguration/src/main/java/io/github/bbortt/snow/white/toolkit/spring/web/config/SpringWebInterceptorProperties.java
Labels: module:snow-white, type:ci, type:infra, lang:java

feat(sonar): remove code smells and vulnerabilities
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningException.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningUtils.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningExceptionTest.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningUtilsTest.java
  microservices/api-gateway/src/apptest/java/io/github/bbortt/snow/white/microservices/api/gateway/QualityGateApiAppTest.java
  microservices/api-gateway/src/main/webapp/app/app.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/status-badge.spec.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/status-badge.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/header/header.spec.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/header/header.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/menus/menu-item.tsx
  microservices/api-gateway/src/main/webapp/app/shared/reducers/application-profile.spec.ts
  microservices/api-gateway/src/main/webapp/app/shared/reducers/application-profile.ts
  microservices/api-gateway/src/main/webapp/i18n/en/reportStatus.json
  microservices/api-gateway/src/test/java/io/github/bbortt/snow/white/microservices/api/gateway/config/ApiGatewayPropertiesTest.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/domain/model/jackson/ApiInformationDeserializer.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/BackstageCatalogService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/config/MinioBucketInitializationExceptionTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/BackstageCatalogServiceTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/MinioServiceTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/OpenApiProcessingExceptionTest.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/KafkaTopicManager.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonDeserializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonSerializer.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/NoSpringConditionalsArchitectureTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/exception/SerializationExceptionTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessorTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiCoverageCalculatorIT.java
  microservices/quality-gate-api/src/test/java/io/github/bbortt/snow/white/microservices/quality/gate/api/domain/model/mapper/FailedToCopyFieldExceptionTest.java
  microservices/quality-gate-api/src/test/java/io/github/bbortt/snow/white/microservices/quality/gate/api/domain/model/mapper/OpenApiCoverageConfigurationMapperTest.java
  microservices/report-coordination-service/src/main/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/kafka/KafkaTopicManager.java
  microservices/report-coordination-service/src/main/java/io/github/bbortt/snow/white/microservices/report/coordination/service/junit/JUnitReporter.java
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/rest/resource/QualityGateResourceIT.java
  pom.xml
  toolkit/cli/src/actions/calculate.ts
Labels: module:cli, module:core, module:snow-white, lang:java, lang:typescript

feat(sonar): remove code smells and vulnerabilities
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningException.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningUtils.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningExceptionTest.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningUtilsTest.java
  microservices/api-gateway/src/apptest/java/io/github/bbortt/snow/white/microservices/api/gateway/QualityGateApiAppTest.java
  microservices/api-gateway/src/main/webapp/app/app.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/status-badge.spec.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/status-badge.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/header/header.spec.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/header/header.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/menus/menu-item.tsx
  microservices/api-gateway/src/main/webapp/app/shared/reducers/application-profile.spec.ts
  microservices/api-gateway/src/main/webapp/app/shared/reducers/application-profile.ts
  microservices/api-gateway/src/main/webapp/i18n/en/reportStatus.json
  microservices/api-gateway/src/test/java/io/github/bbortt/snow/white/microservices/api/gateway/config/ApiGatewayPropertiesTest.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/domain/model/jackson/ApiInformationDeserializer.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/BackstageCatalogService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/config/MinioBucketInitializationExceptionTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/BackstageCatalogServiceTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/MinioServiceTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/OpenApiProcessingExceptionTest.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/KafkaTopicManager.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonDeserializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonSerializer.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/NoSpringConditionalsArchitectureTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/exception/SerializationExceptionTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessorTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiCoverageCalculatorIT.java
  microservices/quality-gate-api/src/test/java/io/github/bbortt/snow/white/microservices/quality/gate/api/domain/model/mapper/FailedToCopyFieldExceptionTest.java
  microservices/quality-gate-api/src/test/java/io/github/bbortt/snow/white/microservices/quality/gate/api/domain/model/mapper/OpenApiCoverageConfigurationMapperTest.java
  microservices/report-coordination-service/src/main/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/kafka/KafkaTopicManager.java
  microservices/report-coordination-service/src/main/java/io/github/bbortt/snow/white/microservices/report/coordination/service/junit/JUnitReporter.java
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/rest/resource/QualityGateResourceIT.java
  pom.xml
  toolkit/cli/src/actions/calculate.ts
Labels: module:cli, module:core, module:snow-white, lang:java, lang:typescript

ci(kafka-event-filter): add application test for native compiled image
  .github/dependabot.yml
  .github/workflows/pull-requests.yml
  dev/otel-collector-config.yaml
  microservices/api-gateway/DEVELOPMENT.md
  microservices/api-gateway/src/apptest/java/io/github/bbortt/snow/white/microservices/api/gateway/QualityGateApiAppTest.java
  microservices/kafka-event-filter/DEVELOPMENT.md
  microservices/kafka-event-filter/pom.xml
  microservices/kafka-event-filter/src/apptest/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/KafkaEventFilterAppTest.java
  microservices/kafka-event-filter/src/apptest/resources/docker-compose-apptest.yaml
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonDeserializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonSerializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/AbstractExportTraceServiceRequestEventProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaEventFilterProperties.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaStreamsConfig.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/OtelInformationFilteringService.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/impl/redis/RedisCachingService.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/TestData.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaEventFilterPropertiesTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaStreamsConfigTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/OtelInformationFilteringServiceTest.java
  semantic-convention/openapi.md
  toolkit/spring-web-autoconfiguration/src/main/java/io/github/bbortt/snow/white/toolkit/spring/web/config/SpringWebInterceptorProperties.java
Labels: module:snow-white, type:ci, type:infra, lang:java

ci(kafka-event-filter): add application test for native compiled image
  .github/dependabot.yml
  .github/workflows/pull-requests.yml
  dev/otel-collector-config.yaml
  microservices/api-gateway/DEVELOPMENT.md
  microservices/api-gateway/src/apptest/java/io/github/bbortt/snow/white/microservices/api/gateway/QualityGateApiAppTest.java
  microservices/kafka-event-filter/DEVELOPMENT.md
  microservices/kafka-event-filter/pom.xml
  microservices/kafka-event-filter/src/apptest/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/KafkaEventFilterAppTest.java
  microservices/kafka-event-filter/src/apptest/resources/docker-compose-apptest.yaml
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonDeserializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonSerializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/AbstractExportTraceServiceRequestEventProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessor.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaEventFilterProperties.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaStreamsConfig.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/OtelInformationFilteringService.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/impl/redis/RedisCachingService.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/TestData.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaEventFilterPropertiesTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/KafkaStreamsConfigTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/service/OtelInformationFilteringServiceTest.java
  semantic-convention/openapi.md
  toolkit/spring-web-autoconfiguration/src/main/java/io/github/bbortt/snow/white/toolkit/spring/web/config/SpringWebInterceptorProperties.java
Labels: module:snow-white, type:ci, type:infra, lang:java

feat(sonar): remove code smells and vulnerabilities
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningException.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningUtils.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningExceptionTest.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/testing/ClassPathScanningUtilsTest.java
  microservices/api-gateway/src/apptest/java/io/github/bbortt/snow/white/microservices/api/gateway/QualityGateApiAppTest.java
  microservices/api-gateway/src/main/webapp/app/app.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/status-badge.spec.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/status-badge.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/header/header.spec.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/header/header.tsx
  microservices/api-gateway/src/main/webapp/app/shared/layout/menus/menu-item.tsx
  microservices/api-gateway/src/main/webapp/app/shared/reducers/application-profile.spec.ts
  microservices/api-gateway/src/main/webapp/app/shared/reducers/application-profile.ts
  microservices/api-gateway/src/main/webapp/i18n/en/reportStatus.json
  microservices/api-gateway/src/test/java/io/github/bbortt/snow/white/microservices/api/gateway/config/ApiGatewayPropertiesTest.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/domain/model/jackson/ApiInformationDeserializer.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/BackstageCatalogService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/config/MinioBucketInitializationExceptionTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/BackstageCatalogServiceTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/MinioServiceTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/OpenApiProcessingExceptionTest.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/KafkaTopicManager.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonDeserializer.java
  microservices/kafka-event-filter/src/main/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/serialization/ExportTraceServiceRequestJsonSerializer.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/NoSpringConditionalsArchitectureTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/exception/SerializationExceptionTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/json/ExportTraceServiceRequestEventJsonProcessorTest.java
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/api/kafka/stream/protobuf/ExportTraceServiceRequestEventProtobufProcessorTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiCoverageCalculatorIT.java
  microservices/quality-gate-api/src/test/java/io/github/bbortt/snow/white/microservices/quality/gate/api/domain/model/mapper/FailedToCopyFieldExceptionTest.java
  microservices/quality-gate-api/src/test/java/io/github/bbortt/snow/white/microservices/quality/gate/api/domain/model/mapper/OpenApiCoverageConfigurationMapperTest.java
  microservices/report-coordination-service/src/main/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/kafka/KafkaTopicManager.java
  microservices/report-coordination-service/src/main/java/io/github/bbortt/snow/white/microservices/report/coordination/service/junit/JUnitReporter.java
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/rest/resource/QualityGateResourceIT.java
  pom.xml
  toolkit/cli/src/actions/calculate.ts
Labels: module:cli, module:core, module:snow-white, lang:java, lang:typescript

chore(main): release 1.0.1-ci.0-SNAPSHOT
  example-application/pom.xml
  helm/pom.xml
  internal/commons/pom.xml
  internal/pom.xml
  microservices/api-gateway/pom.xml
  microservices/api-sync-job/pom.xml
  microservices/kafka-event-filter/pom.xml
  microservices/openapi-coverage-service/pom.xml
  microservices/pom.xml
  microservices/quality-gate-api/pom.xml
  microservices/report-coordination-service/pom.xml
  pom.xml
  toolkit/annotation-api/pom.xml
  toolkit/cli/pom.xml
  toolkit/openapi-generator/pom.xml
  toolkit/pom.xml
  toolkit/spring-web-autoconfiguration-it/pom.xml
  toolkit/spring-web-autoconfiguration/pom.xml
Labels: module:cli, module:core, module:example-application, module:snow-white, type:infra

chore(release-please): release changes cleanup
  example-application/pom.xml
  helm/pom.xml
  internal/commons/pom.xml
  internal/pom.xml
  microservices/api-gateway/pom.xml
  microservices/api-sync-job/pom.xml
  microservices/kafka-event-filter/pom.xml
  microservices/openapi-coverage-service/pom.xml
  microservices/pom.xml
  microservices/quality-gate-api/pom.xml
  microservices/report-coordination-service/pom.xml
  pom.xml
  toolkit/annotation-api/pom.xml
  toolkit/cli/pom.xml
  toolkit/openapi-generator/pom.xml
  toolkit/pom.xml
  toolkit/spring-web-autoconfiguration-it/pom.xml
  toolkit/spring-web-autoconfiguration/pom.xml
Labels: module:cli, module:core, module:example-application, module:snow-white, type:infra

.github/labeler.yml:

# ðŸ”§ Modules
module:cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'toolkit/cli/**/*'

module:core:
  - changed-files:
      - any-glob-to-any-file:
          - 'internal/**/*'

module:example-application:
  - changed-files:
      - any-glob-to-any-file:
          - 'example-application/**/*'

module:snow-white:
  - changed-files:
      - any-glob-to-any-file:
          - 'microservices/**/*'

module:toolkit:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'toolkit/**/*'
          - all-globs-to-all-files:
              - '!toolkit/cli/**/*'

# ðŸš¨ Severity
severity:critical:
  - head-branch:
      - '^hotfix'

severity:high:
  - head-branch:
      - '^fix'
      - '^bugfix'
      - 'fix'

# ðŸ“¦ Types of Work (not technology-specific)
type:bug:
  - head-branch:
      - '^fix'
      - '^bugfix'
      - 'fix'
      - '^hotfix'

type:ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

type:deps:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - '**/*-lock.*'
              - '**/package*.json'
              - '**/pom.xml'
      - head-branch:
          - '^dependabot'

type:docs:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'

type:infra:
  - changed-files:
      - any-glob-to-any-file:
          - 'dev/**/*'
          - 'helm/**/*'

type:feature:
  - head-branch:
      - '^feat'
      - 'feature'

type:refactor:
  - head-branch:
      - '^refactor'
      - 'refactor'

# Languages
lang:java:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.java'

lang:typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'

# Trigger More Actions
include:apptests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/Dockerfile'
