Repository bbortt/snow-white, changes with the labels that .github/labeler.yml gives for each.
All labels: module:cli, module:core, module:example-application, module:snow-white, type:ci, type:docs, type:infra, lang:java, lang:typescript, include:apptests

chore(main): release 1.0.1-ci.0-SNAPSHOT
  example-application/pom.xml
  helm/pom.xml
  internal/commons/pom.xml
  internal/pom.xml
  microservices/api-gateway/pom.xml
  microservices/api-sync-job/pom.xml
  microservices/kafka-event-filter/pom.xml
  microservices/openapi-coverage-service/pom.xml
  microservices/pom.xml
  microservices/quality-gate-api/pom.xml
  microservices/report-coordination-service/pom.xml
  pom.xml
  toolkit/annotation-api/pom.xml
  toolkit/cli/pom.xml
  toolkit/openapi-generator/pom.xml
  toolkit/pom.xml
  toolkit/spring-web-autoconfiguration-it/pom.xml
  toolkit/spring-web-autoconfiguration/pom.xml
Labels: module:cli, module:core, module:example-application, module:snow-white, type:infra

chore(release-please): release changes cleanup
  example-application/pom.xml
  helm/pom.xml
  internal/commons/pom.xml
  internal/pom.xml
  microservices/api-gateway/pom.xml
  microservices/api-sync-job/pom.xml
  microservices/kafka-event-filter/pom.xml
  microservices/openapi-coverage-service/pom.xml
  microservices/pom.xml
  microservices/quality-gate-api/pom.xml
  microservices/report-coordination-service/pom.xml
  pom.xml
  toolkit/annotation-api/pom.xml
  toolkit/cli/pom.xml
  toolkit/openapi-generator/pom.xml
  toolkit/pom.xml
  toolkit/spring-web-autoconfiguration-it/pom.xml
  toolkit/spring-web-autoconfiguration/pom.xml
Labels: module:cli, module:core, module:example-application, module:snow-white, type:infra

chore(cli): configuration from file is possible
  toolkit/cli/README.md
  toolkit/cli/bun.lock
  toolkit/cli/bunfig.toml
  toolkit/cli/package.json
  toolkit/cli/src/actions/calculate.options.ts
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/actions/global.options.ts
  toolkit/cli/src/common/config.spec.ts
  toolkit/cli/src/common/config.ts
  toolkit/cli/src/common/exit-codes.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

chore(cli): include api spec pattern in config
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/config/cli-options.ts
  toolkit/cli/src/config/resolve-config.spec.ts
  toolkit/cli/src/config/resolve-config.ts
  toolkit/cli/src/config/sanitize-configuration.spec.ts
  toolkit/cli/src/config/sanitize-configuration.ts
  toolkit/cli/src/config/sanitized-options.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

refactor(cli): config sanitization
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/config/cli-options.ts
  toolkit/cli/src/config/resolve-config.spec.ts
  toolkit/cli/src/config/resolve-config.ts
  toolkit/cli/src/config/sanitize-configuration.spec.ts
  toolkit/cli/src/config/sanitize-configuration.ts
  toolkit/cli/src/config/sanitized-options.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

chore(cli): configuration from file is possible
  toolkit/cli/README.md
  toolkit/cli/bun.lock
  toolkit/cli/bunfig.toml
  toolkit/cli/package.json
  toolkit/cli/src/actions/calculate.options.ts
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/actions/global.options.ts
  toolkit/cli/src/common/config.spec.ts
  toolkit/cli/src/common/config.ts
  toolkit/cli/src/common/exit-codes.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

chore(cli): include api spec pattern in config
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/config/cli-options.ts
  toolkit/cli/src/config/resolve-config.spec.ts
  toolkit/cli/src/config/resolve-config.ts
  toolkit/cli/src/config/sanitize-configuration.spec.ts
  toolkit/cli/src/config/sanitize-configuration.ts
  toolkit/cli/src/config/sanitized-options.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

refactor(cli): config sanitization
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/config/cli-options.ts
  toolkit/cli/src/config/resolve-config.spec.ts
  toolkit/cli/src/config/resolve-config.ts
  toolkit/cli/src/config/sanitize-configuration.spec.ts
  toolkit/cli/src/config/sanitize-configuration.ts
  toolkit/cli/src/config/sanitized-options.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

fix(api-gateway): switch to module resolution bundler
  microservices/api-gateway/src/main/webapp/app/entities/open-api-criterion/open-api-criterion.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/openapi-test-result-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.reducer.ts
  microservices/api-gateway/tsconfig.json
Labels: module:snow-white, lang:typescript

feat(cli): adapt to multiple api option api
  microservices/api-gateway/src/main/webapp/app/entities/open-api-criterion/open-api-criterion-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/open-api-criterion-badge.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-delete-dialog.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-update.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-result-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/shape-pie-chart.spec.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/shape-pie-chart.tsx
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test-result.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/calculation-request-parameters.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/quality-gate.model.ts
  microservices/api-gateway/src/main/webapp/i18n/de/qualityGate.json
  microservices/api-gateway/src/main/webapp/i18n/en/qualityGate.json
  toolkit/cli/bun.lock
  toolkit/cli/package.json
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/cli.spec.ts
  toolkit/cli/src/entity/mapper/api-information.mapper.spec.ts
  toolkit/cli/src/entity/mapper/api-information.mapper.ts
  toolkit/cli/src/snow-white.config.json
Labels: module:cli, module:snow-white, lang:typescript

fix(openapi-coverage-service): calculate coverage with api information
  internal/commons/pom.xml
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/OpenApiCoverageResponseEvent.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/dto/OpenApiInformation.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/dto/TypedApiInformation.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/redis/ApiEndpointEntry.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiEndpointRepository.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/RedisCachingService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiInformationEndpointEntryTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/redis/RedisCachingServiceTest.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/kafka/stream/OpenApiCoverageCalculationProcessor.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/redis/ApiEndpointEntry.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/redis/ApiEndpointRepository.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiService.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/exception/OpenApiNotIndexedException.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiServiceTest.java
Labels: module:core, module:snow-white, lang:java

fix(api-gateway): switch to module resolution bundler
  microservices/api-gateway/src/main/webapp/app/entities/open-api-criterion/open-api-criterion.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/openapi-test-result-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.reducer.ts
  microservices/api-gateway/tsconfig.json
Labels: module:snow-white, lang:typescript

fix(api-gateway): switch to module resolution bundler
  microservices/api-gateway/src/main/webapp/app/entities/open-api-criterion/open-api-criterion.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/openapi-test-result-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.reducer.ts
  microservices/api-gateway/tsconfig.json
Labels: module:snow-white, lang:typescript

chore(main): release 1.0.1-ci.0-SNAPSHOT
  example-application/pom.xml
  helm/pom.xml
  internal/commons/pom.xml
  internal/pom.xml
  microservices/api-gateway/pom.xml
  microservices/api-sync-job/pom.xml
  microservices/kafka-event-filter/pom.xml
  microservices/openapi-coverage-service/pom.xml
  microservices/pom.xml
  microservices/quality-gate-api/pom.xml
  microservices/report-coordination-service/pom.xml
  pom.xml
  toolkit/annotation-api/pom.xml
  toolkit/cli/pom.xml
  toolkit/openapi-generator/pom.xml
  toolkit/pom.xml
  toolkit/spring-web-autoconfiguration-it/pom.xml
  toolkit/spring-web-autoconfiguration/pom.xml
Labels: module:cli, module:core, module:example-application, module:snow-white, type:infra

chore(release-please): release changes cleanup
  example-application/pom.xml
  helm/pom.xml
  internal/commons/pom.xml
  internal/pom.xml
  microservices/api-gateway/pom.xml
  microservices/api-sync-job/pom.xml
  microservices/kafka-event-filter/pom.xml
  microservices/openapi-coverage-service/pom.xml
  microservices/pom.xml
  microservices/quality-gate-api/pom.xml
  microservices/report-coordination-service/pom.xml
  pom.xml
  toolkit/annotation-api/pom.xml
  toolkit/cli/pom.xml
  toolkit/openapi-generator/pom.xml
  toolkit/pom.xml
  toolkit/spring-web-autoconfiguration-it/pom.xml
  toolkit/spring-web-autoconfiguration/pom.xml
Labels: module:cli, module:core, module:example-application, module:snow-white, type:infra

chore(cli): configuration from file is possible
  toolkit/cli/README.md
  toolkit/cli/bun.lock
  toolkit/cli/bunfig.toml
  toolkit/cli/package.json
  toolkit/cli/src/actions/calculate.options.ts
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/actions/global.options.ts
  toolkit/cli/src/common/config.spec.ts
  toolkit/cli/src/common/config.ts
  toolkit/cli/src/common/exit-codes.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

chore(cli): include api spec pattern in config
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/config/cli-options.ts
  toolkit/cli/src/config/resolve-config.spec.ts
  toolkit/cli/src/config/resolve-config.ts
  toolkit/cli/src/config/sanitize-configuration.spec.ts
  toolkit/cli/src/config/sanitize-configuration.ts
  toolkit/cli/src/config/sanitized-options.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

refactor(cli): config sanitization
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/config/cli-options.ts
  toolkit/cli/src/config/resolve-config.spec.ts
  toolkit/cli/src/config/resolve-config.ts
  toolkit/cli/src/config/sanitize-configuration.spec.ts
  toolkit/cli/src/config/sanitize-configuration.ts
  toolkit/cli/src/config/sanitized-options.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

feat(cli): adapt to multiple api option api
  microservices/api-gateway/src/main/webapp/app/entities/open-api-criterion/open-api-criterion-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/open-api-criterion-badge.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-delete-dialog.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-update.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-result-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/shape-pie-chart.spec.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/shape-pie-chart.tsx
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test-result.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/calculation-request-parameters.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/quality-gate.model.ts
  microservices/api-gateway/src/main/webapp/i18n/de/qualityGate.json
  microservices/api-gateway/src/main/webapp/i18n/en/qualityGate.json
  toolkit/cli/bun.lock
  toolkit/cli/package.json
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/cli.spec.ts
  toolkit/cli/src/entity/mapper/api-information.mapper.spec.ts
  toolkit/cli/src/entity/mapper/api-information.mapper.ts
  toolkit/cli/src/snow-white.config.json
Labels: module:cli, module:snow-white, lang:typescript

fix(openapi-coverage-service): calculate coverage with api information
  internal/commons/pom.xml
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/ApiCoverageResponseEvent.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/OpenApiCoverageResponseEvent.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/dto/ApiInformation.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/redis/ApiEndpointEntry.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/redis/ApiEndpointEntryTest.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiEndpointRepository.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/RedisCachingService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiInformationEndpointEntryTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/redis/RedisCachingServiceTest.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/kafka/stream/OpenApiCoverageCalculationProcessor.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/redis/ApiEndpointEntry.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/redis/ApiEndpointRepository.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiCoverageService.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiService.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenTelemetryService.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/calculator/ResponseCodeCoverageCalculator.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/dto/OpenApiTestContext.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/exception/OpenApiNotIndexedException.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/kafka/stream/OpenApiCoverageCalculationProcessorTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiCoverageServiceTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiServiceTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenTelemetryServiceTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/dto/OpenApiTestContextTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/exception/OpenApiNotIndexedExceptionTest.java
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/kafka/listener/OpenApiResultListenerIT.java
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/kafka/listener/OpenApiResultListenerTest.java
Labels: module:core, module:snow-white, lang:java

fix(api-sync-job): include api type in index
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/config/ApiSyncJobProperties.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/config/MinioBucketConfig.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/RedisCachingService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/SyncJobIT.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiInformationEndpointEntryTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/redis/RedisCachingServiceTest.java
Labels: module:snow-white, lang:java

ci(kafka-event-filter): adapt to runtime hints registration changes
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/NativeRuntimeHintsConfigurationTest.java
Labels: module:snow-white, lang:java

fix(cli): eslint dependencies mismatch
  .github/dependabot.yml
  toolkit/cli/bun.lock
  toolkit/cli/package.json
  toolkit/cli/src/cli.spec.ts
  toolkit/cli/src/snow-white.config.json
Labels: module:cli, type:ci, lang:typescript

fix(api-gateway): frontend build
  DEVELOPMENT.md
  dev/docker-compose.yaml
  dev/snow-white.json
  microservices/api-gateway/src/main/webapp/app/entities/open-api-criterion/open-api-criterion-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-delete-dialog.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-update.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-card.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-result-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-reducer.spec.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.tsx
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test-result.model.ts
  microservices/api-gateway/src/main/webapp/i18n/de/apiTest.json
  microservices/api-gateway/src/main/webapp/i18n/de/apiTestResult.json
  microservices/api-gateway/src/main/webapp/i18n/de/qualityGate.json
  microservices/api-gateway/src/main/webapp/i18n/en/apiTest.json
  microservices/api-gateway/src/main/webapp/i18n/en/apiTestResult.json
  microservices/api-gateway/src/main/webapp/i18n/en/openApiTestResult.json
  microservices/api-gateway/src/main/webapp/i18n/en/qualityGate.json
  toolkit/cli/src/config/sanitize-configuration.ts
Labels: module:cli, module:snow-white, type:docs, type:infra, lang:typescript

chore(report-coordination-service): fix runtime hints test with maven
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/config/NativeRuntimeHintsConfigurationTest.java
Labels: module:snow-white, lang:java

chore(deps): update confluent-kafka to v8
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/AbstractReportCoordinationServiceIT.java
Labels: module:snow-white, lang:java

feat(helm): deploy snow-white
  helm/charts/snow-white/Chart.lock
  helm/charts/snow-white/Chart.yaml
  helm/charts/snow-white/templates/_helpers.tpl
  helm/charts/snow-white/templates/api-gateway.yaml
  helm/charts/snow-white/values.yaml
Labels: type:infra

fix(api-sync-job): include api type in index
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/config/ApiSyncJobProperties.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/config/MinioBucketConfig.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/RedisCachingService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/SyncJobIT.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiInformationEndpointEntryTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/redis/RedisCachingServiceTest.java
Labels: module:snow-white, lang:java

fix(cli): eslint dependencies mismatch
  .github/dependabot.yml
  toolkit/cli/bun.lock
  toolkit/cli/package.json
  toolkit/cli/src/cli.spec.ts
  toolkit/cli/src/snow-white.config.json
Labels: module:cli, type:ci, lang:typescript

chore(report-coordination-service): fix runtime hints test with maven
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/config/NativeRuntimeHintsConfigurationTest.java
Labels: module:snow-white, lang:java

fix(api-gateway): frontend build
  DEVELOPMENT.md
  dev/docker-compose.yaml
  dev/snow-white.json
  microservices/api-gateway/src/main/webapp/app/entities/open-api-criterion/open-api-criterion-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-delete-dialog.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-update.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-card.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-result-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-reducer.spec.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.tsx
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test-result.model.ts
  microservices/api-gateway/src/main/webapp/i18n/de/apiTest.json
  microservices/api-gateway/src/main/webapp/i18n/de/apiTestResult.json
  microservices/api-gateway/src/main/webapp/i18n/de/qualityGate.json
  microservices/api-gateway/src/main/webapp/i18n/en/apiTest.json
  microservices/api-gateway/src/main/webapp/i18n/en/apiTestResult.json
  microservices/api-gateway/src/main/webapp/i18n/en/openApiTestResult.json
  microservices/api-gateway/src/main/webapp/i18n/en/qualityGate.json
  toolkit/cli/src/config/sanitize-configuration.ts
Labels: module:cli, module:snow-white, type:docs, type:infra, lang:typescript

ci(kafka-event-filter): adapt to runtime hints registration changes
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/NativeRuntimeHintsConfigurationTest.java
Labels: module:snow-white, lang:java

refactor(cli): config sanitization
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/config/cli-options.ts
  toolkit/cli/src/config/resolve-config.spec.ts
  toolkit/cli/src/config/resolve-config.ts
  toolkit/cli/src/config/sanitize-configuration.spec.ts
  toolkit/cli/src/config/sanitize-configuration.ts
  toolkit/cli/src/config/sanitized-options.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

chore(deps): update confluent-kafka to v8
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/AbstractReportCoordinationServiceIT.java
Labels: module:snow-white, lang:java

chore(cli): configuration from file is possible
  toolkit/cli/README.md
  toolkit/cli/bun.lock
  toolkit/cli/bunfig.toml
  toolkit/cli/package.json
  toolkit/cli/src/actions/calculate.options.ts
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/actions/global.options.ts
  toolkit/cli/src/common/config.spec.ts
  toolkit/cli/src/common/config.ts
  toolkit/cli/src/common/exit-codes.ts
  toolkit/cli/src/index.ts
Labels: module:cli, lang:typescript

feat(cli): adapt to multiple api option api
  microservices/api-gateway/src/main/webapp/app/entities/open-api-criterion/open-api-criterion-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/open-api-criterion-badge.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-delete-dialog.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-update.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-result-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/shape-pie-chart.spec.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/shape-pie-chart.tsx
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test-result.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/calculation-request-parameters.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/quality-gate.model.ts
  microservices/api-gateway/src/main/webapp/i18n/de/qualityGate.json
  microservices/api-gateway/src/main/webapp/i18n/en/qualityGate.json
  toolkit/cli/bun.lock
  toolkit/cli/package.json
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/cli.spec.ts
  toolkit/cli/src/entity/mapper/api-information.mapper.spec.ts
  toolkit/cli/src/entity/mapper/api-information.mapper.ts
  toolkit/cli/src/snow-white.config.json
Labels: module:cli, module:snow-white, lang:typescript

fix(openapi-coverage-service): calculate coverage with api information
  internal/commons/pom.xml
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/ApiCoverageResponseEvent.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/OpenApiCoverageResponseEvent.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/event/dto/ApiInformation.java
  internal/commons/src/main/java/io/github/bbortt/snow/white/commons/redis/ApiEndpointEntry.java
  internal/commons/src/test/java/io/github/bbortt/snow/white/commons/redis/ApiEndpointEntryTest.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiEndpointRepository.java
  microservices/api-sync-job/src/main/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/RedisCachingService.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/api/redis/ApiInformationEndpointEntryTest.java
  microservices/api-sync-job/src/test/java/io/github/bbortt/snow/white/microservices/api/sync/job/service/impl/redis/RedisCachingServiceTest.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/kafka/stream/OpenApiCoverageCalculationProcessor.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/redis/ApiEndpointEntry.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/redis/ApiEndpointRepository.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiCoverageService.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiService.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenTelemetryService.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/calculator/ResponseCodeCoverageCalculator.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/dto/OpenApiTestContext.java
  microservices/openapi-coverage-service/src/main/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/exception/OpenApiNotIndexedException.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/api/kafka/stream/OpenApiCoverageCalculationProcessorTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiCoverageServiceTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenApiServiceTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/OpenTelemetryServiceTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/dto/OpenApiTestContextTest.java
  microservices/openapi-coverage-service/src/test/java/io/github/bbortt/snow/white/microservices/openapi/coverage/service/service/exception/OpenApiNotIndexedExceptionTest.java
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/kafka/listener/OpenApiResultListenerIT.java
  microservices/report-coordination-service/src/test/java/io/github/bbortt/snow/white/microservices/report/coordination/service/api/kafka/listener/OpenApiResultListenerTest.java
Labels: module:core, module:snow-white, lang:java

feat(cli): adapt to multiple api option api
  microservices/api-gateway/src/main/webapp/app/entities/open-api-criterion/open-api-criterion-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/open-api-criterion-badge.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-delete-dialog.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate-config/quality-gate-config-update.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-result-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/api-test-table.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate-detail.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.reducer.ts
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/quality-gate.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/shape-pie-chart.spec.tsx
  microservices/api-gateway/src/main/webapp/app/entities/quality-gate/shape-pie-chart.tsx
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test-result.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/api-test.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/calculation-request-parameters.model.ts
  microservices/api-gateway/src/main/webapp/app/shared/model/quality-gate.model.ts
  microservices/api-gateway/src/main/webapp/i18n/de/qualityGate.json
  microservices/api-gateway/src/main/webapp/i18n/en/qualityGate.json
  toolkit/cli/bun.lock
  toolkit/cli/package.json
  toolkit/cli/src/actions/calculate.spec.ts
  toolkit/cli/src/actions/calculate.ts
  toolkit/cli/src/cli.spec.ts
  toolkit/cli/src/entity/mapper/api-information.mapper.spec.ts
  toolkit/cli/src/entity/mapper/api-information.mapper.ts
  toolkit/cli/src/snow-white.config.json
Labels: module:cli, module:snow-white, lang:typescript

fix(cli): eslint dependencies mismatch
  .github/dependabot.yml
  toolkit/cli/bun.lock
  toolkit/cli/package.json
  toolkit/cli/src/cli.spec.ts
  toolkit/cli/src/snow-white.config.json
Labels: module:cli, type:ci, lang:typescript

ci(kafka-event-filter): adapt to runtime hints registration changes
  microservices/kafka-event-filter/src/test/java/io/github/bbortt/snow/white/microservices/kafka/event/filter/config/NativeRuntimeHintsConfigurationTest.java
Labels: module:snow-white, lang:java

.github/labeler.yml:

# ðŸ”§ Modules
module:cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'toolkit/cli/**/*'

module:core:
  - changed-files:
      - any-glob-to-any-file:
          - 'internal/**/*'

module:example-application:
  - changed-files:
      - any-glob-to-any-file:
          - 'example-application/**/*'

module:snow-white:
  - changed-files:
      - any-glob-to-any-file:
          - 'microservices/**/*'

module:toolkit:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'toolkit/**/*'
          - all-globs-to-all-files:
              - '!toolkit/cli/**/*'

# ðŸš¨ Severity
severity:critical:
  - head-branch:
      - '^hotfix'

severity:high:
  - head-branch:
      - '^fix'
      - '^bugfix'
      - 'fix'

# ðŸ“¦ Types of Work (not technology-specific)
type:bug:
  - head-branch:
      - '^fix'
      - '^bugfix'
      - 'fix'
      - '^hotfix'

type:ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

type:deps:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - '**/*-lock.*'
              - '**/package*.json'
              - '**/pom.xml'
      - head-branch:
          - '^dependabot'

type:docs:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'

type:infra:
  - changed-files:
      - any-glob-to-any-file:
          - 'dev/**/*'
          - 'helm/**/*'

type:feature:
  - head-branch:
      - '^feat'
      - 'feature'

type:refactor:
  - head-branch:
      - '^refactor'
      - 'refactor'

# Languages
lang:java:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.java'

lang:typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'

# Trigger More Actions
include:apptests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/Dockerfile'
